.Vidage__backdrop,.Vidage__image{
	 position:absolute;
	 top:0;
	 right:0;
	 bottom:0;
	 left:0
 }
 .Vidage--allow .Vidage__video{
 	display:block
 }
 .Vidage--allow .Vidage__image{
 	display:none
 }
 .Vidage{
	 position:fixed;
	 top:0;
	 right:0;
	 bottom:0;
	 left:0;
	 z-index:-1
 }
 .Vidage,.Vidage__video{
	 min-width:100%;
	 min-height:100%
 }
 .Vidage__video{
	 position:absolute;
	 top:50%;left:50%;
	 width:auto;height:auto;
	 -webkit-transform:translateX(-50%) translateY(-50%);
	 -ms-transform:translateX(-50%) translateY(-50%);
	 -o-transform:translateX(-50%) translateY(-50%);
	 transform:translateX(-50%) translateY(-50%);
	 display:none
 }
 .Vidage__image{
	 background-image:url(../image/video_cover.jpeg);
	 background-position:50%;
	 background-repeat:no-repeat;
	 -webkit-background-size:cover;
	 background-size:cover
 }

 .login{
 	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	width:700px;
	height:350px;
	background-color:rgba(25,25,112,0.2);
	display:none;
	border-radius:10px; 
}
input[type="text"] {
	 width: 45%;
	  padding: 1em 2em 1em 3em;
	  color: #F0F8FF;
	  font-size: 18px;
	  outline: none;
	  background: url(../image/adm.png) no-repeat 10px 15px;
	  border: none;
	  font-weight: 100;
	  border-bottom: 1px solid#484856;
	  margin-top: 2em;
      margin-left: 8em;
      	display:none;
}

 input[type="password"]{
	  width: 45%;
	  padding: 1em 2em 1em 3em;
	  color: #F0F8FF;
	  font-size: 18px;
	  outline: none;
	  background: url(../image/key.png) no-repeat 10px 23px;
	  border: none;
	  font-weight: 100;
	  border-bottom: 1px solid#484856;
	  margin-bottom: 3em;
      margin-left: 8em;
      	display:none;
 }
 
 .key {
   background: url(../image/pass.png) no-repeat 447px 17px;
}

#button_submit{
	font-size: 30px;
	color:rgba(255,255,255,0.2);
	outline: none;
	border: none;
	width: 45%;
	padding: 18px 0;
	border-radius:15px; 
	background-color:rgba(0,191,255,0.2);
	margin-left:6em;
	display:none;
}